apiVersion: apps/v1
kind: Deployment
metadata:
  name: treetracker-earnings-api
  labels:
    app: treetracker-earnings-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: treetracker-earnings-api
  template:
    metadata:
      labels:
        app: treetracker-earnings-api
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: doks.digitalocean.com/node-pool
                    operator: In
                    values:
                      - microservices-node-pool
                      - default-node-pool
      containers:
        - name: treetracker-earnings-api
          image: greenstand/treetracker-earnings-api:VERSION
          ports:
            - containerPort: 80
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: database-connection
                  key: db
            - name: DATABASE_SCHEMA
              value: earnings
            - name: TREETRACKER_STAKEHOLDER_API_URL
              value: http://treetracker-stakeholder-api.stakeholder-api
            - name: S3_BUCKET
              value: payments_upload_bucket
            - name: S3_ACCESS_KEY_ID
              value: override in overlay
            - name: S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-key
                  key: secretAccessKey

